/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uilds/
/[Bb]uild/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.vs/
/.idea/
/TestResults*/
/MemoryCaptures/
/Recordings/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
*.zip
.env
.env.*
